<div class="results">
	<div class="container">
		<div class="results__grid">
			{{#each data}}
				<div class="card">
					<div class="card__left">
						<figure class="card__image-container">
							<img class="card__image" src="https://image.tmdb.org/t/p/w185{{poster_path}}" alt="Show Image">
						</figure>
					</div>
					<div class="card__right">
						<header class="card__header">
							<h3 class="card__title">
								<a href="#" class="card__link">{{name}}</a>
							</h3>
						</header>
						<div class="card__content">
							<p class="card__description">{{overview}}</p>
						</div>
						<footer class="card__footer">
							<a href="#">more details</a>
						</footer>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</div>