<div class="search">
	<div class="container center">
		<form name="search" class="search__form">
			<label class="search__label"><span class="screen-reader-text">Search</span></label>
			<input type="text" name="show" placeholder="Search a show">
			<button type="submit">Search</button>
		</form>

		<div id="search-results"></div>
		<div id="show-details"></div>
	</div>
</div>