<div class="show">
	<button class="show__close">X</button>
	<div class="container">
		<div class="show__grid">
			<div class="show__left">
				<figure class="show__image-container">
					<img src="http://unsplash.it/400/500" alt="Show" class="show__image">
				</figure>
			</div>
			<div class="show__right">
				<h2 class="show__title">Here is the show title</h2>
				<p class="show__description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Aperiam corporis cumque deleniti et ex id ipsam laborum, maiores minus molestias neque optio,
					praesentium reiciendis repellat repudiandae saepe tempora temporibus ullam?
				</p>
			</div>
		</div>
	</div>
</div>