<div class="show">
	<button class="show__close">X</button>
	<div class="container">
		<div class="show__grid">
			<div class="show__left">
				<figure class="show__image-container">
					<img src="http://image.tmdb.org/t/p/w185{{data.poster_path}}" alt="Show" class="show__image">
				</figure>
			</div>
			<div class="show__right">
				<h2 class="show__title">{{data.name}}</h2>
				<p class="show__description">{{data.overview}}</p>
			</div>
		</div>
	</div>
</div>