//--------------------------------------------------------------
// Colors
//--------------------------------------------------------------
$color-black: #000;
$color-gray-dark: #333;
$color-white: #fff;